# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build/

# Ignore compiled class files
*.class

# Ignore generated JAR files
*.jar

# Ignore output directory for generated .java and .class files
output/

# Ignore temporary files
*.log
*.tmp